#winner {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p.message {
    color: red;
    font-weight: bold;
    font-size: 2em;
  }
  p {
    color: red;
  }
}

#cricket-container {
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1em;
  gap: 1vh; // space between columns

  .legend-container,
  .player-container {
    display: grid;
    row-gap: 1vh;
    grid-template-rows: 5vh repeat(7, 11vh) 5vh;
  }
  .legend-container {
    background-color: inherit;
    padding-right: .4em;
    font-size: 1.7em;
    position: sticky;
    left: 0;
  }
  .player-container {

    img {
      height: 90%;
      width: auto;
      pointer-events: none;
    }
  }

  .legend-cell,
  .player-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .player-cell {
    background-color: $darkgray;
    width: 15vh;
    border-radius: 2em;
    transition: all .3s ease;
  }
  .player-cell:first-of-type {
    background-color: initial;
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0;
    text-align: center;
    font-size: 1.2em;
  }
  .player-cell:last-of-type {
    font-size: 1.7em;
    color: red;
    border-radius: 0;
    margin-top: 1vh;
    height: fit-content;
  }
  .blink {
    background-color: $red-transp;
    scale: 1.5;
    box-shadow: 0 0 20px $red-transp;
    transition: all 1ms ease;
  }
}