#players-container,
.players-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 1em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.players-form {
  margin-top: 1em;
  
  input[type=text] {
    background-color: $gray;
    color: white;
    border: none;
    border-radius: 1em;
    padding: .5em 1.3em;
    font-weight: bold;
    font-size: inherit;
  }
  input[type=text].new-player-input {
    background-color: $gray;
    width: fit-content;
  }

  input[type=submit] {
    background-color: $red-transp;
    border: 2px solid transparent;
    color: black;
    border-radius: 2em;
    padding: .5em 0;
    margin-top: 1em;
    font-size: inherit;
    font-weight: inherit;
    transition: all .1s ;
  }
  input[type=submit]:hover {
    border: 2px solid $red-transp;
    background-color: transparent;
    color: $red-transp;
    transition: all .1s ;
  }
}

#players-container {

  // NB!: .player-container also exists in _cricket.scss
  .player-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    input[type='text']:focus {
      color: red;
      outline: none;
    }
  
    .delete-player-btn {
      display: inline;
      // margin-left: .4em;
    }
    .delete-player-btn:hover {
      color: red;
      cursor: pointer;
    }
  }
}
