#cricket-container {
  margin: auto;
  border: 3px solid blue;
  display: flex;
  justify-content: space-around;
  height: 90vh;
  max-width: 800px;
}

.legend-container,
.player-container {
  display: flex;
  flex-direction: column;
}
.legend-container {
  flex: 0;
}
.player-container {
  border: 1px solid black;
  flex: 1;
}

.legend-cell,
.player-cell {
  border: 1px solid lightgray;
  flex: 1;
}

.temp {
  height: 50px;
}