#players-container {
  margin: auto;
  max-width: 800px;
}

.delete-player-btn {
  display: inline;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 .4em
}
.delete-player-btn:hover {
  background-color: lightgray;
  cursor: pointer;
}